@import 'abstracts/_index';

@import 'base/_index';

@import 'components/_index';

@import 'layout/_index';

@import 'shared/_index';

@import 'vendor/_index';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
