$color-gray: #818a91;
$color-white: #fff;
$color-red: #b85c5c;
$color-green: #5cb85c;

$color-darker-green: #449d44;
$color-darker-gray: #687077;
$color-darker-white-gray: #dad8d8;

$color-blue-black: #3a4551;
$color-white-gray: #f5f5f5;
